<div style="background-color: #f0f1f3">
  <div class="main-container">Employee List</div>
  <div class="employee-list">
    <div class="card" (click)="onAddNewEmployee()">
      <img src="icons/add_new_emp.png" alt="add_user" class="add_new_user" />
      <h3 style="font-weight: bold; margin: 0">Add New</h3>
      <!-- <p style="margin: 0">Employee</p> -->
    </div>
    @if (showForm) {
    <div class="modal-backdrop" (click)="closeModal()">
      <div
        class="modal-content"
        style="width: 500px"
        (click)="$event.stopPropagation()"
      >
        <button class="close-button" (click)="openCloseNewEmployeeForm()">
          ×
        </button>
        <div class="employee-form-container">
          <h2>Employee Details</h2>
          <form [formGroup]="employeeForm">
            <div class="user-data-container">
              <div class="user-data">
                <label for="userName">User Name:</label>
                <input
                  id="userName"
                  formControlName="userName"
                  type="text"
                  placeholder="Enter name"
                />
              </div>
              @if (employeeForm.controls['userName'].touched &&
              employeeForm.controls['userName'].errors?.['required']) {
              <div class="input-error">User Name is required.</div>
              } @if (employeeForm.controls['userName'].touched &&
              employeeForm.controls['userName'].errors?.['pattern']) {
              <div class="input-error">
                Special characters and whitespaces are not allowed.
              </div>
              }
            </div>
            <div class="user-data-container">
              <div class="user-data">
                <label for="email">Email:</label>

                <input
                  id="email"
                  formControlName="email"
                  type="email"
                  placeholder="john.doe@example.com"
                  [value]="
                    this.employeeForm.controls['userName'].value.toLowerCase() +
                    this.organizationDomain
                  "
                  [readonly]="true"
                />
              </div>
              <!-- @if (employeeForm.controls['email'].touched) { @if
              (employeeForm.controls['email'].errors?.['required']) {
              <div class="input-error">Email is required.</div>
              } @if (employeeForm.controls['email'].errors?.['email']) {
              <div class="input-error">Enter a valid email address.</div>
              } } -->
            </div>
            <div class="user-data-container">
              <div class="user-data">
                <label for="phone">Phone #:</label>

                <input
                  id="phone"
                  formControlName="phone"
                  type="text"
                  placeholder="+92-xxx-xxxxxxx"
                />
              </div>
              @if (employeeForm.controls['phone'].touched &&
              employeeForm.controls['phone'].errors?.['required']) {
              <div class="input-error">Phone number is required.</div>
              }
            </div>
            <div class="user-data-container">
              <div class="user-data">
                <label for="gender">Gender:</label>
                <select id="gender" formControlName="gender">
                  <option value="">Select Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
              @if (employeeForm.controls['gender'].touched &&
              employeeForm.controls['gender'].errors?.['required']) {
              <div class="input-error">required.</div>
              }
            </div>
            <div class="user-data-container">
              <div class="user-data">
                <label for="dateOfBirth">Date of Birth:</label>
                <input
                  id="dateOfBirth"
                  formControlName="dateOfBirth"
                  type="date"
                />
              </div>
              @if (employeeForm.controls['dateOfBirth'].touched &&
              employeeForm.controls['dateOfBirth'].errors?.['required']) {
              <div class="input-error">Date of Birth is required.</div>
              }@else if
              (employeeForm.controls['dateOfBirth'].errors?.['futureDate']) {
              <div class="input-error">DOB cannot be in the future.</div>
              } @else if
              (employeeForm.controls['dateOfBirth'].errors?.['underAge']) {
              <div class="input-error">Under age.</div>
              }
            </div>
            <!-- <div class="user-data-container">
              <div class="user-data">
                <label for="role">Role:</label>
                <select id="role" formControlName="role">
                  <option value="">Select Role</option>
                  <option value="Asset manager">Asset Manager</option>
                  <option value="Employee">Employee</option>
                </select>
              </div>
              @if (employeeForm.controls['role'].touched &&
              employeeForm.controls['role'].errors?.['required']) {
              <div class="input-error">Role is required.</div>
              }
            </div> -->
            <div class="button-container">
              <button type="submit" (click)="onSubmit()">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    } @for (emp of employees; track $index) {
    <div class="card" (click)="selectEmployee(emp)">
      <img
        [src]="emp.profilePicturePath || 'icons/emp_avatar.png'"
        alt="{{ emp.userName }}"
        class="avatar"
      />
      <div style="text-align: center; line-height: 1.1">
        <h5 style="font-weight: bold; margin: 0">{{ emp.userName }}</h5>
        <p style="margin: 0; font-size: small">
          <!-- @if (emp.roleName == "OrganizationEmployee") { Employee } @else if
          (emp.roleName == "OrganizationAssetManager") { Asset
          Manager } @else { Organization Owner } -->
          {{
            emp.roleName == "OrganizationEmployee"
              ? "Employee"
              : emp.roleName == "OrganizationAssetManager"
              ? "Asset Manager"
              : "Organization Owner"
          }}
        </p>
      </div>
    </div>
    } @if (selectedEmployee) {
    <div class="modal-backdrop" (click)="closeModal()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <button class="close-button" (click)="closeModal()">×</button>

        <div class="profileContent">
          <div class="profile">
            <img
              [src]="
                selectedEmployee.profilePicturePath || 'icons/emp_avatar.png'
              "
              alt="{{ selectedEmployee.userName }}"
              class="avatar"
            />
          </div>

          <div class="userSummary">
            <div class="user-data" style="height: 35px; width: 450px">
              <span class="lable">User Name:</span>
              <span class="info-details">{{ selectedEmployee.userName }}</span>
            </div>

            <div class="user-data" style="height: 35px; width: 450px">
              <span class="lable">Email:</span>
              <span class="info-details">{{ selectedEmployee.email }}</span>
            </div>
            <div class="user-data" style="height: 35px; width: 450px">
              <span class="lable">Phone #:</span>
              <span class="info-details">{{
                selectedEmployee.phoneNumber
              }}</span>
            </div>
            <div class="user-data" style="height: 35px; width: 450px">
              <span class="lable">Gender:</span>
              <span class="info-details">{{ selectedEmployee.gender }}</span>
            </div>
            <div class="user-data" style="height: 35px; width: 450px">
              <span class="lable">Date of Birth:</span>
              <span class="info-details">{{
                selectedEmployee.dateOfBirth | date : "dd/MM/yyyy"
              }}</span>
            </div>

            <div class="user-data" style="height: 35px; width: 450px">
              <span class="lable">Joining Date</span>
              <span class="info-details">{{
                selectedEmployee.dateOfJoining | date : "dd/MM/yyyy"
              }}</span>
            </div>

            <div class="user-data" style="min-height: 35px; width: 450px">
              <span class="lable">Allocated assets ids:</span>
              <span class="info-details">
                @if (selectedEmployee.allocatedAssetIdsList?.length > 0) { @for
                (id of selectedEmployee.allocatedAssetIdsList; track $index) {
                <span>{{ id }}, </span>
                } } @else {
                <span>No assets allocated</span>
                }
              </span>
            </div>

            <div class="role-action" style="height: 35px; width: 450px">
              <span class="lable" style="width: 180px">Role:</span>
              <span class="info-details">{{
                selectedEmployee.roleName == "OrganizationEmployee"
                  ? "Employee"
                  : selectedEmployee.roleName == "OrganizationAssetManager"
                  ? "Asset Manager"
                  : "Organization Owner"
              }}</span>
              @if(selectedEmployee.roleName !== 'OrganizationOwner'){
              @if(selectedEmployee.roleName === 'OrganizationEmployee') {
              <button class="Grant" (click)="revokeGrantPrivileges('Grant')">
                Grant Privileges
              </button>
              }@else{
              <button class="Revoke" (click)="revokeGrantPrivileges('Revoke')">
                Revoke Privileges
              </button>
              } }
            </div>

            @if(selectedEmployee.roleName !== 'OrganizationOwner'){
            <div class="account-status">
              <span class="lable">Account Status:</span>
              <label class="toggle-wrapper">
                <input
                  type="checkbox"
                  [checked]="isToggled"
                  (change)="onToggle($event)"
                />
                <span class="slider"></span>
              </label>
            </div>
            } @if(selectedEmployee.roleName !== 'OrganizationOwner'){
            <div class="edit-button-container">
              <button (click)="toggleEdit()" class="edit-btn">
                <img src="icons/edit.png" class="btn-icon" alt="Edit" />
                Edit
              </button>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>

@if(isLoading) {
<app-page-loader></app-page-loader>
} @if (showAlert) {
<app-alert-card
  [title]="alertTitle"
  [message]="alertMessage"
  (closeCard)="showAlert = $event"
></app-alert-card>
}
