@if (showAlertCard) {
<app-alert-card
  [title]="alertCardTitle"
  [message]="alertCardMessage"
  (closeCard)="showAlertCard = $event"
></app-alert-card>
} @if (isLoading) {
<app-page-loader></app-page-loader>
}

<div class="burhan_bodyContainer">
  <div class="burhan_box">
    <form action="" [formGroup]="loginForm">
      <h2>Log In</h2>

      <div class="burhan_input-box">
        <input
          type="text"
          value=""
          formControlName="Email"
          name="Email"
          required
        />
        <span>Email</span>
        @if (loginForm.controls['Email'].touched) { @if
        (loginForm.controls['Email'].errors?.['required']) {
        <div class="inputError">Email is required.</div>
        }@else if(loginForm.controls['Email'].errors?.['email']){
        <div class="inputError">Enter a valid Email.</div>
        } }
      </div>

      <div class="burhan_input-box">
        <input
          type="password"
          value=""
          formControlName="Password"
          name="Password"
          required
        />
        <span>Enter Password</span>
        @if (loginForm.controls['Password'].touched) { @if
        (loginForm.controls['Password'].errors?.['required']) {
        <div class="inputError">Password is required.</div>
        } }
      </div>

      <input
        type="submit"
        value="Log In"
        (click)="signIn()"
        [disabled]="!loginForm.valid"
      />

      <div class="burhan_links">
        <a routerLink="../forgotPassword">Forgot Password?</a>
        <a routerLink="../signUp">Sign Up</a>
      </div>
    </form>
  </div>
</div>
