<div class="main-div">
  <div class="request-summary-container">
    <h3>Your All Requests</h3>

    <div class="request-summary-grid">
      <div
        class="request-card"
        (click)="filterRequests('All')"
        [class.active]="activeFilter === 'All'"
      >
        <img src="icons/totalReq.png" alt="Total Requests" />
        <div class="request-info">
          <div class="count">{{ dashboardData?.totalRequests }}</div>
          <div class="label">Total Requests</div>
        </div>
      </div>

      <div
        class="request-card"
        (click)="filterRequests('Pending')"
        [class.active]="activeFilter === 'Pending'"
      >
        <img src="icons/pendingReq.png" alt="Pending Requests" />
        <div class="request-info">
          <div class="count">{{ dashboardData?.pendingRequests }}</div>
          <div class="label">Pending Requests</div>
        </div>
      </div>

      <div
        class="request-card"
        (click)="filterRequests('Fulfilled')"
        [class.active]="activeFilter === 'Fulfilled'"
      >
        <img src="icons/fullfilledReq.png" alt="Fulfilled Requests" />
        <div class="request-info">
          <div class="count">{{ dashboardData?.fulfilledRequests }}</div>
          <div class="label">Fulfilled Requests</div>
        </div>
      </div>

      <div
        class="request-card"
        (click)="filterRequests('Accepted')"
        [class.active]="activeFilter === 'Accepted'"
      >
        <img src="icons/acceptedReq.png" alt="Accepted Requests" />
        <div class="request-info">
          <div class="count">{{ dashboardData?.acceptedRequests }}</div>
          <div class="label">Accepted Requests</div>
        </div>
      </div>

      <div
        class="request-card"
        (click)="filterRequests('Declined')"
        [class.active]="activeFilter === 'Declined'"
      >
        <img src="icons/declinedReq.png" alt="Declined Requests" />
        <div class="request-info">
          <div class="count">{{ dashboardData?.declinedRequests }}</div>
          <div class="label">Declined Requests</div>
        </div>
      </div>

      <div
        class="request-card"
        (click)="filterRequests('Canceled')"
        [class.active]="activeFilter === 'Canceled'"
      >
        <img src="icons/cancelReq.png" alt="Cancel Requests" />
        <div class="request-info">
          <div class="count">{{ dashboardData?.canceledRequests }}</div>
          <div class="label">Cancel Requests</div>
        </div>
      </div>

      <div class="request-card add-new" (click)="createNewRequest()">
        <img src="icons/newReq.png" alt="New Request" />
        <div class="label bold">New Request</div>
      </div>

      @if (showNewAssetRequestForm) {
      <div class="asset-form-popup">
        <form [formGroup]="newAssetRequestForm" (ngSubmit)="onSubmit()">
          <button
            type="button"
            class="close-btn"
            (click)="showNewAssetRequestForm = false"
          >
            ×
          </button>
          <h3>New Asset Request</h3>

          <div>
            <label for="subject">Subject</label>
            <input
              id="subject"
              type="text"
              formControlName="subject"
              placeholder="Add a subject"
            />
            @if (newAssetRequestForm.controls['subject'].touched &&
            newAssetRequestForm.controls['subject'].errors?.['required']) {
            <div class="input-error">Subject is required.</div>
            }
          </div>

          <div>
            <label for="notes">Notes</label>
            <textarea
              id="notes"
              formControlName="notes"
              placeholder="Explain your requirement..."
            ></textarea>
            @if (newAssetRequestForm.controls['notes'].touched &&
            newAssetRequestForm.controls['notes'].errors?.['required']) {
            <div class="input-error">Notes are required.</div>
            } @if (newAssetRequestForm.controls['notes'].touched &&
            newAssetRequestForm.controls['notes'].errors?.['minlength']) {
            <div class="input-error">
              Notes should be at least 10 characters long.
            </div>
            }
          </div>
          <div style="text-align: right">
            <button type="submit" class="forward-btn">
              Forward Request <span class="arrow">➜</span>
            </button>
          </div>
        </form>
      </div>
      }
    </div>
  </div>
  <div style="display: flex">
    <div class="request-history-container">
      <div class="request-table-wrapper">
        <!-- Table Header -->
        <table class="request-table">
          <thead>
            <tr>
              <th>Request ID</th>
              <th>Request Description</th>
              <th>Request Date</th>
              <th>Status</th>
            </tr>
          </thead>
        </table>

        <!-- Scrollable Table Body -->
        <div class="scrollable-tbody">
          <table class="request-table">
            <tbody>
              @for (request of dashboardData?.requiredAssetRequests; track
              request.requestId) {
              <tr>
                <td>{{ request.assetRequestID }}</td>
                <td>
                  <div class="description">
                    <div class="title">
                      <strong>{{ request.title }}</strong>
                    </div>
                    <div class="text">{{ request.description }}</div>
                  </div>
                </td>
                <td>{{ request.requestDate | date : "dd/MM/yyyy" }}</td>
                <td>
                  <div style="display: flex">
                    <span
                      class="status-badge"
                      [ngClass]="request.requestStatus.toLowerCase()"
                    >
                      {{ request.requestStatus }}
                    </span>
                    @if (request.requestStatus === 'Pending') {
                    <button
                      (click)="cancelRequest(request.assetRequestID)"
                      class="cancel-button"
                      title="Cancel Request"
                    >
                      <img
                        src="icons/cancelReq.png"
                        alt="Cancel"
                        class="button-icon"
                      />
                    </button>
                    }
                  </div>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="container">
      <h3>Designated Asset</h3>

      @for (asset of dashboardData?.designatedAssetsAssetdetails; track
      asset.name) {
      <div class="card">
        <img
          [src]="
            asset.profilePicturePath
              ? asset.profilePicturePath
              : 'icons/AssetAvatar.png'
          "
          alt="{{ asset.assetName }}"
        />
        <div class="details">
          <div class="name">{{ asset.assetName }}</div>
          <div class="category">{{ asset.serialNumber }}</div>
        </div>
      </div>
      }
    </div>
  </div>
</div>

@if(isLoading) {
<app-page-loader></app-page-loader>
} @if (showAlert) {
<app-alert-card
  [title]="alertTitle"
  [message]="alertMessage"
  (closeCard)="showAlert = $event"
></app-alert-card>
}
