.container {
  width: 100%;
  height: max-content;
  display: flex;
  overflow-y: hidden;
}

.routerOutletCommonProperties {
  margin-top: 0.5%;
  background-color: #f0f1f3;
  width: 100%;
  height: calc(100vh - 60px);
  overflow-y: scroll;
  overflow-x: hidden;
}
