@if (showAlertCard) {
<app-alert-card [title]="alertCardTitle" [message]="alertCardMessage"
  (closeCard)="dismissAlertAndLogin($event)"></app-alert-card>
}

@if (isLoading) {
<app-page-loader></app-page-loader>
}

<div class="burhan_bodyContainer">
  <div class="burhan_box">
    <form action="" [formGroup]="passwordResetFrom">
      <div class="burhan_input-box">
        <h2>Reset Password</h2>
        <input type="password" value="" formControlName="newPassword" name="newPassword" required>
        <span>New Password</span>
        <i></i>
        @if (passwordResetFrom.controls['newPassword'].touched) {
        <div class="text-danger">
          @if (passwordResetFrom.controls['newPassword'].errors?.['required']) {
          <span>New Password is required.</span>
          }@else if (passwordResetFrom.controls['newPassword'].errors?.['minLength']) {
          <span>Your password must contain at least 11 characters.</span>
          } @else if(passwordResetFrom.controls['newPassword'].errors?.['pattern']){
          <span>Password must have at least 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special
            character and password length must be atleast 11.</span>
          }
        </div>
        }
      </div>
      <br>
      <div class="burhan_input-box">
        <input type="password" value="" formControlName="confirmNewPassowrd" name="confirmPassword" required>
        <span>Confirm Password</span>
        <i></i>
        @if (passwordResetFrom.controls['confirmNewPassowrd'].touched) {
        <div class="inputError">
          @if (passwordResetFrom.controls['confirmNewPassowrd'].errors?.['required']) {
          <span>Confirm Your Password.</span>
          }@else if (passwordResetFrom.controls['confirmNewPassowrd'].errors?.['valueMismatch']) {
          <span>Your passwords don't match. Please ensure both fields are identical.</span>
          }
        </div>
        }
      </div>
      <br>
      <input type="submit" value="Reset" (click)="resetPassowrd()" [disabled]="!passwordResetFrom.valid">
      <div class="burhan_links">
        <a routerLink="../signIn">Sign In</a>
      </div>
    </form>
  </div>
</div>
