@if(isLoading)
{
<app-page-loader></app-page-loader>
}

@if (showAlert) {
<app-alert-card [title]="alertTitle" [message]="alertMessage" (closeCard)="showAlert = $event"></app-alert-card>
}

<div class="burhan_bodyContainer">
  <div class="burhan_box">
    <form action="" [formGroup]="signUpForm">
      <h2 class="justify-content-center">Sign Up</h2>
      <div class="row w-100 justify-content-between pt-1 pb-5">
        <div class="burhan_input-box">
          <input type="text" value="" formControlName="fullName" name="fullName" required>
          <span>Full Name</span>
          <i></i>
          @if (signUpForm.controls['fullName'].touched) {
          <div class="inputError text-danger">
            @if (signUpForm.controls['fullName'].errors?.['required']) {
            <span>Your full name is required.</span>
            }
          </div>
          }
        </div>
        <div class="burhan_input-box">
          <input type="text" value="" formControlName="userName" name="userName" required>
          <span>User Name</span>
          <i></i>
          @if (signUpForm.controls['userName'].touched) {
          <div class="inputError">
            @if (signUpForm.controls['userName'].errors?.['required']) {
            <span>User Name is required.</span>
            }
          </div>
          }
        </div>
        <div class="burhan_input-box">
          <!-- Gender input changed to a dropdown (select) -->
          <select formControlName="gender" name="gender" required>
            <option value="" disabled selected>Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
          <span>Gender</span>
          <i></i>
          @if (signUpForm.controls['gender'].touched) {
          <div class="inputError">
            @if (signUpForm.controls['gender'].errors?.['required']) {
            <span>Gender is required.</span>
            }
          </div>
          }
        </div>
      </div>
      <div class="row w-100 justify-content-between pt-1 pb-5">
        <div class="burhan_input-box">
          <!-- Date of Birth changed to date input -->
          <input type="date" formControlName="dateOfBirth" name="dateOfBirth" required>
          <span>Date Of Birth</span>
          <i></i>
          @if (signUpForm.controls['dateOfBirth'].touched) {
          <div class="inputError">
            @if (signUpForm.controls['dateOfBirth'].errors?.['required']) {
            <span>Date of Birth is required.</span>
            }
          </div>
          }
        </div>
        <div class="burhan_input-box">
          <input type="email" value="" formControlName="email" name="email" required>
          <span>Email</span>
          <i></i>
          @if (signUpForm.controls['email'].touched) {
          <div class="inputError">
            @if (signUpForm.controls['email'].errors?.['required']) {
            <span>Email is required.</span>
            }@else if(signUpForm.controls['email'].errors?.['email']){
            <span>Please Type a valid email address.</span>
            }
          </div>
          }
        </div>
        <div class="burhan_input-box">
          <input type="tel" value="" formControlName="phoneNumber" name="phoneNumber" required>
          <span>Phone Number</span>
          <i></i>
          @if (signUpForm.controls['phoneNumber'].touched) {
          <div class="inputError">
            @if (signUpForm.controls['phoneNumber'].errors?.['required']) {
            <span>Phone Number is required.</span>
            }@else if (signUpForm.controls['phoneNumber'].errors?.['minLength'] ||
            signUpForm.controls['phoneNumber'].errors?.['maxLength'] ||
            signUpForm.controls['phoneNumber'].errors?.['pattern']){
            <span>11 Digits required as (+92XXXXXXXXXX).</span>
            }
          </div>
          }
        </div>
      </div>
      <div class="row w-100 justify-content-between pt-1 pb-5">
        <div class="burhan_input-box">
          <select formControlName="requireRole" name="requireRole" required>
            <option value="" disabled selected>Account Type</option>
            <option value="male">Organizatin Owner</option>
            <option value="female">Vendor</option>
          </select>
          <span>Account Type</span>
          <i></i>
          @if (signUpForm.controls['requireRole'].touched) {
          <div class="inputError">
            @if (signUpForm.controls['requireRole'].errors?.['required']) {
            <span>Account Type is required.</span>
            }
          </div>
          }
        </div>
        <div class="burhan_input-box">
          <input type="password" value="" formControlName="password" name="password" required>
          <span>Password</span>
          <i></i>
          @if (signUpForm.controls['password'].touched) {
          <div class="inputError">
            @if (signUpForm.controls['password'].errors?.['required']) {
            <span>Enter your desired password.</span>
            }@else if (signUpForm.controls['password'].errors?.['minLength']) {
            <span>Your password must contain at least 11 characters.</span>
            } @else if (signUpForm.controls['password'].errors?.['pattern']) {
            <span>Password must have at least 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special
              character.</span>
            }
          </div>
          }
        </div>
        <div class="burhan_input-box">
          <input type="password" value="" formControlName="confirmPassword" name="confirmPassword" required>
          <span>Confirm Password</span>
          <i></i>
          @if (signUpForm.controls['confirmPassword'].touched) {
          <div class="inputError">
            @if (signUpForm.controls['confirmPassword'].errors?.['required']) {
            <span>Confirm Your Password.</span>
            }@else if (signUpForm.controls['password'].value !== signUpForm.controls['confirmPassword'].value ) {
            <span>Your passwords don't match. Please ensure both fields are identical.</span>
            }
          </div>
          }
        </div>
      </div>
      <input type="submit" value="Sign Up" [disabled]="!signUpForm.valid" (click)="signUpUser()">
      <div class="burhan_links">
        <a routerLink="../forgotPassword">Forgot Password?</a>
        <a routerLink="../signIn">Sign In</a>
      </div>
    </form>
  </div>
</div>
