
<div class="main-div">
  @for (org of organizations; track $index){
  <div class="card">
    <div class="card-heading">
      <img src=".png" alt="logo"/>
      <h3>{{ org.name }}</h3>
    </div>
    <ul
      style="
        display: flex;
        flex-wrap: wrap;
        font-size: x-small;
        gap: 10%;
        row-gap: 10px;
      "
    >
      <li style="color: #69247c; width: max-content">
        <b>Employees:</b> {{ org.employees }}
      </li>
      <li style="color: #fcc737; width: max-content">
        <b>Assets:</b>{{ org.assets }}
      </li>
      <li style="color: #da498d; width: max-content">
        <b>Asset Worth:</b> {{ org.assetWorth }}
      </li>
    </ul>
  </div>
  }

  <button class="add-new-card-btn" (click)="addNewOrganization()">
    <img src="./addNewOrg.png" class="button-logo" />
    Add New
  </button>
</div>


