.main-div {
  background-color: #f0f1f3;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: first baseline;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}

/* WebKit Browsers (Chrome, Safari, Edge) */
.mainDiv::-webkit-scrollbar {
  width: 7px; /* Width of the scrollbar */
}

.mainDiv::-webkit-scrollbar-track {
  background: #888; /* Background color of the track */
  /* border-radius: 10px; Optional: Rounded corners for the track */
}

.mainDiv::-webkit-scrollbar-thumb {
  background: #555; /* Color of the scrollbar thumb */
  /* border-radius: 10px; Optional: Rounded corners for the thumb */
}

.mainDiv::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1; /* Color of the scrollbar thumb when hovered */
}

.card {
  border-radius: 8px;
  text-align: center;
  width: 17%;
  height: 40vh;
  background-color: #ffffff;
  margin-top: 2%;
  margin-bottom: 2%;
}

.card-heading {
  margin-bottom: 10%;
  background-image: linear-gradient(to right, #cf42d7, #7ac6ec);
  border-radius: 8px;
  width: 100%;
  height: fit-content;
  padding-bottom: 3%;
  padding-top: 3%;
  display: flex;
  justify-content: center;
}

.add-new-card-btn {
  display: flex;
  align-items: center;
  border: none;
  padding: 10px 20px;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  height: max-content;
  width: max-content;
  background-color: #ffffff;
}

.button-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-size: cover;
}
