@if (showAlertCard) {
<app-alert-card [title]="alertCardTitle" [message]="alertCardMessage"
  (closeCard)="dismissAlertAndLogin($event)"></app-alert-card>
}

@if (isLoading) {
<app-page-loader></app-page-loader>
}

<div class="burhan_bodyContainer">
  <div class="burhan_box">
    <form action="" [formGroup]="forgetPasswordForm">
      <div class="burhan_input-box">
        <h2>Get Reset Password Link</h2>
        <input type="text" value="" formControlName="email" name="email" required>
        <span>Email</span>
        <i></i>
        @if (forgetPasswordForm.controls['email'].touched) {
        <div class="input-error">
          @if (forgetPasswordForm.controls['email'].errors?.['required']) {
          <span>Email is required.</span>
          }@else if(forgetPasswordForm.controls['email'].errors?.['email']){
          <span>Enter a valid Email.</span>
          }
        </div>
        }
      </div>
      <br>
      <br>
      <input type="submit" value="Get link" (click)="GetPasswordResetLink()" [disabled]="!forgetPasswordForm.valid">
      <div class="burhan_links">
        <p>
          <a routerLink="../SignIn">Sign In</a>
          /
          <a routerLink="../signUp">Sign Up</a>
        </p>
      </div>
    </form>
  </div>
</div>
