<div class="main-div">
  <h2 class="main-div-text">Assets Dashboard</h2>
  <div class="content-div">
    <div class="table-div">
      <table>
        <thead>
          <tr>
            <th>Asset ID</th>
            <th>Asset Name</th>
            <th>Barcode</th>
            <th>Last Updated</th>
            <th>Date Created</th>
            <th>Manufacturer</th>
            <th>Asset Status</th>
          </tr>
        </thead>
        <tbody>
          @for (asset of assets; track $index) {
          <tr>
            <td>{{ asset.id }}</td>
            <td>{{ asset.name }}</td>
            <td>{{ asset.barcode }}</td>
            <td>{{ asset.lastUpdated }}</td>
            <td>{{ asset.dateCreated }}</td>
            <td>{{ asset.manufacturer }}</td>
            <td>
              <span>
                <label [ngClass]="{
                    available: asset.status === 'Available',
                    assigned: asset.status === 'Assigned',
                    retired: asset.status === 'Retired',
                    'out-of-order': asset.status === 'Out Of Order',
                    lost: asset.status === 'Lost',
                    'under-repair': asset.status === 'Under Repair'
                  }">
                  {{ asset.status }}
                </label>
                <img src="icons/delete-red.png" alt="Delete" />
              </span>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="side-div">
      <button class="btn" (click)="exportAssetList()">
        <img src="icons/Download.png" alt="Download" />
        Export Asset List
      </button>
      <button class="btn" [routerLink]="['/new-asset']">
        <img src="icons/plus.png" alt="Add" />
        Add New Asset
      </button>
    </div>
  </div>
</div>
