.mainDiv {
  /* border: 1px solid green; */
  padding-top: 3%;
  width: 240px;
  height: 85.5vh;
}

.nevbarOption {
  /* border: 1px solid red; */
  text-decoration: none;
  color: black;
  text-align: center;
  align-items: center;
  gap: 3%;
  padding-left: 3%;
  text-align: left;
  font-weight: 500;
  background-image: none;
  display: flex;
  align-items: center;
}

.nevbarOption img {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nevbarOptionActive {
  background-image: linear-gradient(to right, #CF42D7, #7AC6EC);
}