<div class="main-div">
  <div class="dashboard-stats-container">
    <!-- Info Cards -->
    <div class="dashboard-stats-container-left">
      <div class="info-card_Chart-Container">
        <div class="info-cards">
          <div class="metric-box">
            <span>
              <h2>Pending Asset Requests</h2>
              <p>
                {{ organizationData?.organizationAssetPendingRequestsCount }}
              </p>
            </span>

            <img src="icons/list.png" alt="Asset Request" />
          </div>
          <div class="metric-box">
            <span>
              <h2>Asset Assigned</h2>
              <p>{{ organizationData?.organziationAssignedAssetCount }}</p>
            </span>
            <img src="icons/assignedAsset.png" alt="Asset Request" />
          </div>
          <div class="metric-box">
            <span>
              <h2>Asset Under Maintenance</h2>
              <p>
                {{ organizationData?.organziationUnderMaintanenceAssetCount }}
              </p>
            </span>
            <img src="icons/Arrow Rotate Left 01.png" alt="Asset Request" />
          </div>
        </div>

        <!-- line chart -->
        <div class="line-chart-container">
          <canvas id="MyChart"></canvas>
        </div>
      </div>

      <!-- Summary Stats -->
      <div class="summary">
        <div class="summary-item-container">
          <img class="purple" src="icons/employee-star.png" />
          <p>
            <span class="summary-item purple">Employees:</span>
            {{ organizationData?.organizationEmployeeCount }}
          </p>
        </div>
        <div class="summary-item-container">
          <img class="pink" src="icons/asset-star.png" class="icon-img" />
          <p>
            <span class="summary-item yellow">Assets:</span>
            {{ organizationData?.organziationAssetCount }}
          </p>
        </div>
        <div class="summary-item-container">
          <img class="pink" src="icons/asset_worth.png" />
          <p>
            <span class="summary-item pink">Asset Worth:</span
            >{{ organizationData?.organizationAssetWorth | currency : "USD" }}
          </p>
        </div>
      </div>
    </div>
    <!-- Doughnut chart -->
    <div class="doughnut-chart-and-lables">
      <div class="doughnut-chart-labels">
        <div>
          <p>
            {{
              (organizationData?.organizationAssetRatioByAssetType[0]
                ?.assetRatioInType | number : "1.0-2") + "%"
            }}
          </p>
          <p>
            <span class="dot fixed"></span>
            {{
              organizationData?.organizationAssetRatioByAssetType[0]
                ?.assetTypeName
            }}
          </p>
        </div>
        <div>
          <p>
            {{
              (organizationData?.organizationAssetRatioByAssetType[1]
                ?.assetRatioInType | number : "1.0-2") + "%"
            }}
          </p>
          <p>
            <span class="dot variable"></span>
            {{
              organizationData?.organizationAssetRatioByAssetType[1]
                ?.assetTypeName
            }}
          </p>
        </div>
      </div>
      <!-- DoughNut chart -->
      <div class="chart-container-doughnut">
        <canvas id="MydoughnutChart"></canvas>
      </div>
    </div>
  </div>

  <div class="insights-container">
    <!-- Recent activities -->
    <div class="activities">
      <div>
        <h2>Recent Activities</h2>
      </div>
      <div class="activity-table-container">
        <table class="activity-table">
          <tbody>
            @for (activity of organizationData?.recentActivitiesList; track
            $index) {
            <tr>
              <td class="activity-date">
                {{ activity.date | date : "MM-dd-yyyy" }}
              </td>
              @if (activity.type === 'Retirement') {
              <td class="activity-icon">
                <img src="icons/returned.png" alt="Retirement Icon" />
              </td>
              <td class="activity-detals">
                <strong>Condition: {{ activity.condition }}</strong>
                <p class="detail">{{ activity.retirementReason }}</p>
                <p class="detail">
                  {{ activity.organizationsAssetRetirementID }}
                </p>
                <p class="detail">Asset Id: {{ activity.assetID }}</p>
              </td>
              } @else if (activity.type === 'Assign/Return') {
              <td class="activity-icon">
                <img src="icons/assigned.png" alt="Assign/Return Icon" />
              </td>
              <td class="activity-detals">
                <strong>Assigned to:{{ activity.assignedToUserID }}</strong>
                <br />
                <strong>Assigned by:{{ activity.assignedByUserID }}</strong>
                <p class="detail">{{ activity.notes }}</p>
                <p class="detail">Asset Id: {{ activity.assetID }}</p>
              </td>
              } @else if (activity.type === 'Request') {
              <td class="activity-icon">
                <img src="icons/request.png" alt="Request Icon" />
              </td>
              <td class="activity-detals">
                <strong>{{ activity.Title }}</strong>
                <strong>Requisitioner: {{ activity.userID }}</strong>
                <p class="detail">{{ activity.description }}</p>
                <p class="detail">
                  Complition Status: {{ activity.requestStatus }}
                </p>
              </td>
              } @else {
              <!-- activity.type === 'Maintenance' -->
              <td class="activity-icon">
                <img src="icons/maintenance.png" alt="Default Icon" />
              </td>
              <td class="activity-detals">
                <strong>{{ activity.Title }}</strong>
                <strong>Problem: {{ activity.problem }}</strong>
                <p class="detail">{{ activity.maintanenceResult }}</p>
              </td>
              }
            </tr>
            }
          </tbody>
        </table>
        <div
          style="display: grid; justify-items: center; align-content: center"
        >
          <!-- <button class="show-more">Show All</button> -->
        </div>
      </div>
    </div>

    <!-- Asset List -->

    <div class="asset-list">
      <h2>Asset List</h2>
      <div class="actions">
        <button class="btn add" (click)="nvgToAddUpdateAsset()">
          <img src="icons/add-new-asset.png" alt="Add" />
          <i class="add"></i> Add
        </button>
        <!-- <button class="btn export" (click)="fetchReportData()">
          <img src="icons/Download.png" alt="Export" />
          <i class="export"></i> Export Asset List
        </button> -->
      </div>
      <table>
        <thead>
          <tr>
            <th>Asset ID</th>
            <th>Barcode</th>
            <th>Last updated</th>
            <th>Asset Status</th>
          </tr>
        </thead>
        <tbody>
          @for (asset of organizationData?.recentlyUpdatedAssetsList; track
          $index) {
          <tr>
            <td>{{ asset.assetlD }}</td>
            <td>{{ asset.barcode }}</td>
            <td>{{ asset.updatedDate | date : "MM-dd-yyyy" }}</td>
            <td>
              <span
                class="asset-status"
                [ngClass]="{
                  available: asset.assetStatus === 'Available',
                  assigned: asset.assetStatus === 'Assigned',
                  retired: asset.assetStatus === 'Retired',
                  'out-of-order': asset.assetStatus === 'Out Of Order',
                  lost: asset.assetStatus === 'Lost',
                  'under-maintenance': asset.assetStatus === 'Under Maintenance'
                }"
              >
                {{ asset.assetStatus }}
              </span>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>

@if(isLoading) {
<app-page-loader></app-page-loader>
} @if (showAlert) {
<app-alert-card
  [title]="alertTitle"
  [message]="alertMessage"
  (closeCard)="showAlert = $event"
></app-alert-card>
}
